:root {
  --grey: #3F3F3F;
  --orange: #FF914D;
  --yellow: #FFDE59;

  /* use colors like this 
    color: var(--grey);
  */
}

body {
  background-image: url(./images/Theme-background.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;

}


/* Homepage CSS 🡻 */

/* code for homepage here (delete this line)*/

/* End of Homepage CSS 🡹  */



/* Navigation bar CSS 🡻 */

.navbar{
  width: 300px;
  height: 100%;
  background-color: #232323;  
  position: fixed;
  top: 0;
  right: -300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20% 0 0 60%;
  transition: right 0.8s cubic-bezier(1,0,0,1);
}
.change{
  right: 0;
}

.Menue{
  width: 35px;
  height: 30px;
  position: fixed;
  top: 50px;
  right: 50px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.line{
  width: 100%;
  height: 3px;
  background-color: chocolate;
  transition: all 0.8s;
}
.change .line-1{
  transform:  rotateZ(-405deg) translate(-8px,6px);
}
.change .line-2{
  opacity: 0;
}
.change .line-3{
  transform:  rotateZ(405deg) translate(-8px,-6px);
}

.nav-list{
  text-align: right;
}
.nav-item{
  list-style: none;
  margin: 25px;
}
.nav-links{
  text-decoration: none;
  font-size: 22px;
  color: #eee;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
  position: relative;
  padding: 3px 0;
}
.nav-links::before,
.nav-links::after{
  content: "";
  width: 100%;
  height: 2px;
  background-color: chocolate;
  position: absolute;
  left: 0;  
  transform: scaleX(0);
  transition: transform 0.5s;
}
.nav-links::after{
  bottom: 0;
  transform-origin: right;
}
.nav-links::before{
  top: 0;
  transform-origin: left;
}
.nav-links:hover::before,
.nav-links:hover::after{
  transform: scaleX(1);
}

/* Navigation bar CSS 🡹  */





/* Custom burger CSS 🡻 */

/* code for custom burger here  (delete this line)*/

/* End of custom burger CSS 🡹  */




/* About us CSS 🡻 */

/* code for about us here  (delete this line)*/

/* End of about us CSS 🡹  */




/* Contact CSS 🡻 */

/* code for contact here  (delete this line)*/

/* End of contact CSS 🡹  */





/* History  CSS 🡻 */

/* code for history here  (delete this line)*/

/* End of history CSS 🡹  */





/* Cart CSS 🡻 */

/* code for cart here  (delete this line)*/

/* End of cart  CSS 🡹  */






/* Rewiew  CSS 🡻 */

/* code for custom burger here  (delete this line)*/

/* End of custom burger CSS 🡹  */





/* Menu CSS 🡻 */

/* code for menu here  (delete this line)*/

/* End of menu CSS 🡹  */